@use '../mixins/shadow';

code {
	display: block;

	padding: var(--padding-2x);
	margin: 0 var(--padding) 0 0;

	@include shadow.shadow;

	background: var(--color-card-contrast);
	color: var(--color-card);

	border-radius: var(--border-radius);

	font-size: var(--font-size-very-small);
}

html[theme='dark'] code {
	background: var(--color-background);
	color: var(--color-background-contrast);
}
