@use '../mixins/media';

footer {
	padding: var(--padding-3x) var(--padding-2x) 0;

	border-top: 1px solid var(--text-color);

	@include media.min-width(xlarge) {
		padding: var(--padding-4x) var(--padding-6x) 0;
	}

	.end {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.links {
		display: flex;
		flex-wrap: wrap;
		gap: var(--padding-2x);
		padding: var(--padding-2x) 0;

		font-size: var(--font-size-very-small);
	}
}
